<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta property="og:description" content="{{description}}">
        <meta property="og:title" content="{{h1}}">
        <meta property="og:locale" content="ru">
        
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
        <meta content="Bootstrap News Template - Free HTML Templates" name="description">

        <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link href="../../public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
        
        <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../dist/css/bootstrap-select.css">

        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bootstrap 4 -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="/views/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.min.css">
        <!-- Favicon -->
        <link href="/views/bootstrap-news-template/img/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet"> 

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/views/bootstrap-news-template/lib/slick/slick.css" rel="stylesheet">
        <link href="/views/bootstrap-news-template/lib/slick/slick-theme.css" rel="stylesheet">

        <link type="text/css" href="../../public/ckeditor5-build-classic/sample/css/sample.css" rel="stylesheet" media="screen" />

        <link rel="stylesheet" href="../../public/style.css">
        <link rel="stylesheet" href="../../public/style.scss">

        <!-- Template Stylesheet -->
        <link href="/views/bootstrap-news-template/css/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <title>{{title}}</title>
    </head>
    <body style="background-color: rgb(228, 228, 228);">
        <!-- Nav Bar Start -->
        {{#if navbar}}
        {{else}}
        <div class="nav-bar">
            <div class="container"> 
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            {{#if @root.isNews}}
                                <a href="/news" class="nav-item nav-link active">Новости</a>
                            {{else}}
                                <a href="/news" class="nav-item nav-link">Новости</a>
                            {{/if}}
                            {{#if isAuth}}
                                {{#each permissionsList}}
                                    {{#ifeq this 'GIVE'}}
                                        {{#if @root.isAdmin}}
                                            <a href="/admin" class="nav-item nav-link active">Админ панель</a>
                                        {{else}}
                                            <a href="/admin" class="nav-item nav-link">Админ панель</a>
                                        {{/if}}
                                    {{/ifeq}}
                                {{/each}}

                                {{#if isWatchLater}}
                                    <a href="/news/watchLater" class="nav-item nav-link active">Избранное</a>
                                {{else}}
                                    <a href="/news/watchLater" class="nav-item nav-link">Избранное</a>
                                {{/if}}
                            {{/if}}
                            {{#if isListCategories}}
                                <a href="/news/listCategories" class="nav-item nav-link active">Категории</a>
                            {{else}}
                                <a href="/news/listCategories" class="nav-item nav-link">Категории</a>
                            {{/if}}
                        </div>
                        <div class="navbar-nav">
                            {{#if isAuth}}
                                <a href="/logout"class="nav-item nav-link">Выйти</a>
                            {{else}}
                                {{#if @root.isRegister}}
                                    <a href="/register" class="nav-item nav-link active">Регистрация</a>
                                    {{else}}
                                    <a href="/register" class="nav-item nav-link">Регистрация</a>
                                {{/if}}
                                {{#if @root.isLogin}}
                                    <a href="/login" class="nav-item nav-link active">Войти</a>
                                    {{else}}
                                    <a href="/login" class="nav-item nav-link">Войти</a>
                                {{/if}}        
                            {{/if}}
                        </div>
                        {{#if isAuth}}
                            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                <div class="image">
                                    {{#if ThisUser.avatarURL}}
                                        <img src="/{{ThisUser.avatarURL}}" style="margin-top: 15px;" class="img-circle elevation-2 user-img">
                                    {{else}}
                                        <img src="/images/no_avatar.png" style="margin-top: 15px;" class="img-circle elevation-2">
                                    {{/if}}
                                </div>
                                <div class="info">
                                    <a href="/user/{{ThisUser.id}}" style="margin-top: 10px;" class="nav-link p-2 active">{{ThisUser.name}}</a>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <div class="form-outline">
                        <form action="/news/search" method="POST">
                            <input type="search" name="search" class="form-control searchbar" placeholder="Поиск по сайту"
                            aria-label="Search" />
                        </form>
                    </div>
                    <div class="phone-menu">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Меню
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/news">Новости</a></li>
                                <li>
                                    {{#if isAuth}}
                                        {{#each permissionsList}}
                                            {{#ifeq this 'GIVE'}}
                                                <a class="dropdown-item" href="/admin">Админ панель</a>
                                            {{/ifeq}}
                                        {{/each}}
                                            
                                    {{/if}}
                                </li>
                                <li>
                                    {{#if isAuth}}
                                        <a href="/news/watchLater" class="dropdown-item">Избранное</a>
                                    {{/if}}
                                </li>
                                <li>
                                    {{#if isAuth}}
                                        <a href="/news/listCategories" class="dropdown-item">Категории</a>
                                    {{/if}}
                                </li>
                                <li>
                                    {{#if isAuth}}
                                        <a href="/logout"class="dropdown-item">Выйти</a>
                                    {{else}}
                                        <a href="/register" class="dropdown-item">Регистрация</a>
                                        <a href="/login" class="dropdown-item">Войти</a>      
                                    {{/if}}
                                </li>
                            </ul>
                        </ul>
                        {{#if isAuth}}
                            <div class="user-panel pb-3 mb-3 user-profile-nav">
                                <div class="image">
                                    {{#if ThisUser.avatarURL}}
                                        <img src="/{{ThisUser.avatarURL}}" style="margin-top: 15px;" class="img-circle elevation-2 user-img">
                                    {{else}}
                                        <img src="/images/no_avatar.png" style="margin-top: 15px;" class="img-circle elevation-2">
                                    {{/if}}
                                </div>
                                <div class="info">
                                    <a href="/user/{{ThisUser.id}}" style="margin-top: 10px;" class="nav-link p-2 active">{{ThisUser.name}}</a>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </nav>
            </div>
        </div>
        {{/if}}
        <!-- Nav Bar End -->
        {{#if isAdmin}}
            <div class="wrapper">
                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <!-- Sidebar -->
                    <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                {{#if ThisUser.avatarURL}}
                                    <img src="/{{ThisUser.avatarURL}}" class="img-circle elevation-2 user-img">
                                {{else}}
                                    <img src="/images/no_avatar.png" class="img-circle elevation-2">
                                {{/if}}
                            </div>
                            <div class="info">
                                <a href="/user/{{ThisUser.id}}" class="d-block">{{ThisUser.name}}</a>
                            </div>
                        </div>

                        <!-- SidebarSearch Form -->
                        <div class="form-inline">
                            <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Поиск" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                            </div>
                        </div>

                        <!-- Sidebar Menu -->
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-item menu-open">
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            {{#if isAdminPanel}}
                                                <a href="/admin" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Новости</p>
                                                </a>
                                            {{else}}
                                                <a href="/admin" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Новости</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isCategories}}
                                                <a href="/news/categories" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Категории</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/categories" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Категории</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isCreate}}
                                                <a href="/news/create/post" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание поста</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/create/post" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание поста</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isCreateCategory}}
                                                <a href="/news/create/category" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание категории</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/create/category" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание категории</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isUsers}}
                                                <a href="/users" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Пользователи</p>
                                                </a>
                                            {{else}}
                                                <a href="/users" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Пользователи</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isRole}}
                                                <a href="/rules/role" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Роли</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/role" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Роли</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isPermission}}
                                                <a href="/rules/permission" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Разрешения</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/permission" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Разрешения</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isRoleCreate}}
                                                <a href="/rules/roles/create" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание роли</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/roles/create" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание роли</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isPermissionCreate}}
                                                <a href="/rules/permission/create" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание разрешения</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/permission/create" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание разрешения</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        {{!-- <li class="nav-item">
                                            {{#if isConnection}}
                                                <a href="/rules" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>All connection</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>All connection</p>
                                                </a>
                                            {{/if}}
                                        </li> --}}
                                        <li class="nav-item">
                                            {{#if isGiveRole}}
                                                <a href="/rules/give/role" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Выдача ролей</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/give/role" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Выдача ролей</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isGivePermission}}
                                                <a href="/rules/give/permission" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Выдача разрешений</p>
                                                </a>
                                            {{else}}
                                                <a href="/rules/give/permission" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Выдача разрешений</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isSettings}}
                                                <a href="/news/settings" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Настройки</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/settings" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Настройки</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        <li class="nav-item">
                                            {{#if isCreateTag}}
                                                <a href="/news/newTag" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание тэгов</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/newTag" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Создание тэгов</p>
                                                </a>
                                            {{/if}}
                                        </li>
                                        {{!-- <li class="nav-item">
                                            {{#if isCreateSettings}}
                                                <a href="/news/settings/create" class="nav-link active">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Create settings</p>
                                                </a>
                                            {{else}}
                                                <a href="/news/settings/create" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Create settings</p>
                                                </a>
                                            {{/if}}
                                        </li> --}}
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </aside>

                <div class="content-wrapper">
                    <section class="content">
                    <div class="container-fluid">
                        
                        {{{body}}}

                    </div>
                    </section>
                </div>
            </div>
        {{else}}   
        <div style="min-height: calc(100vh - 350px);">
          {{{body}}}
          </div>
        {{/if}}
        <!-- Back to Top -->

        <a href="#" class="btn btn-dark back-to-top"><i class="fa fa-chevron-up"></i></a>
        {{#if footer}}
        {{else}}
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h3 class="title">Get in Touch</h3>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 News Street, NY, USA</p>
                                <p><i class="fa fa-envelope"></i>info@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href="/news/rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="footer-widget">
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-widget">
                            
                            <h3 class="title">Подписаться</h3>
                            <div class="newsletter">
                                <p>
                                    Вы можете подписаться на новости
                                </p>
                                <font color="lime" id="goodSub"></font>
                                <font color="red" id="errorSub"></font>
                                <form name="subscribe">
                                    <input id="userEmail" class="form-control" type="email" name="email" placeholder="Ваша почта">
                                    <button type="submit" onclick="sub(event)" class="btn" style="width: auto;">Подписаться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <script type="text/javascript" src="../../public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="../../public/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
        <script type="text/javascript">
            $('.form_datetime').datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1
            });
            $('.form_date').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
            $('.form_time').datetimepicker({
                language:  'fr',
                weekStart: 1,
                todayBtn:  1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 1,
                minView: 0,
                maxView: 1,
                forceParse: 0
            });
        </script>

        <!-- JavaScript Libraries -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/views/bootstrap-news-template/lib/easing/easing.min.js"></script>
        <script src="/views/bootstrap-news-template/lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="/views/bootstrap-news-template/js/main.js"></script>

        <script src="../../public/ckeditor5-build-classic/ckeditor.js"></script>
        <script src="../../public/ckeditor.js"></script>


        <!-- Bootstrap 4 -->
        <script src="/views/AdminLTE-3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- ChartJS -->
        <script src="/views/AdminLTE-3.1.0/plugins/chart.js/Chart.min.js"></script>
        <!-- Sparkline -->
        <script src="/views/AdminLTE-3.1.0/plugins/sparklines/sparkline.js"></script>
        <!-- JQVMap -->
        <script src="/views/AdminLTE-3.1.0/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="/views/AdminLTE-3.1.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="/views/AdminLTE-3.1.0/plugins/jquery-knob/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="/views/AdminLTE-3.1.0/plugins/moment/moment.min.js"></script>
        <script src="/views/AdminLTE-3.1.0/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="/views/AdminLTE-3.1.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- Summernote -->
        <script src="/views/AdminLTE-3.1.0/plugins/summernote/summernote-bs4.min.js"></script>
        <!-- overlayScrollbars -->
        <script src="/views/AdminLTE-3.1.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        <script src="../../public/details.js"></script>
        <!-- AdminLTE App -->
        <script src="/views/AdminLTE-3.1.0/dist/js/adminlte.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/views/AdminLTE-3.1.0/dist/js/demo.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../../dist/js/bootstrap-select.js"></script>

        <script src="../../public/index.js"></script>
    </body>
</html>