<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body style="background-color: rgb(228, 228, 228);">
        <!-- Nav Bar Start -->
        {{#if navbar}}
        {{else}}
        {{> navbars}}
        {{/if}}
        <!-- Nav Bar End -->
        {{#if isAdmin}}
            <div class="wrapper">
                <aside class="main-sidebar sidebar-dark-primary elevation-4 admin-panel">
                    <!-- Sidebar -->
                    <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="image">
                                {{#if ThisUser.avatarURL}}
                                    <img src="/{{ThisUser.avatarURL}}" class="img-circle elevation-2 user-img">
                                {{else}}
                                    <img src="/images/no_avatar.png" class="img-circle elevation-2">
                                {{/if}}
                            </div>
                            <div class="info">
                                <a href="/user/{{ThisUser.id}}" class="d-block">{{ThisUser.name}}</a>
                            </div>
                        </div>

                        <!-- SidebarSearch Form -->
                        <div class="form-inline">
                            <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Поиск" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                            </div>
                        </div>

                        <!-- Sidebar Menu -->
                        {{> adminPanel}}
                    </div>
                </aside>

                <div class="content-wrapper">
                    <section class="content">
                    <div class="container-fluid">
                        {{> phoneAdminPanel}}
                        {{{body}}}

                    </div>
                    </section>
                </div>
            </div>
        {{else}}   
        <div style="min-height: calc(100vh - 350px);">
          {{{body}}}
          <br>
        </div>
        {{/if}}
        <!-- Back to Top -->

        <a href="#" class="btn btn-dark back-to-top"><i class="fa fa-chevron-up"></i></a>
        {{#if footer}}
        {{else}}
        <!-- Footer Start -->
        {{> footer}}
        {{/if}}

        {{> scripts}}
        
    </body>
</html>