<div align='center'>
    <h1>Создание статьи</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    <form method="POST" action="/news/newPost" enctype="multipart/form-data">
        <div class="col-sm-6">
            
            <input name="title" type="text" class="form-control" placeholder="Название статьи" maxlength="100" minlength="5" autocomplete="off">
            <textarea name="postText" class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Введите статью"></textarea>

            <select class="form-select" name="selectCategoryId">
                {{#each categories}}
                    <option value="{{this.id}}">{{this.category}}</option>
                {{/each}}
            </select><br><br>
            
            <form class="form-horizontal">
                <div class="form-group" style="text-align: left !important;">
                    <label for="dtp_input1" class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;Выберите дату и время публикации</label>
                    <div class="input-group date form_datetime col-md-5" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input class="form-control" size="16" type="text" value="" readonly style="background-color: #ffffff;">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
            </form>

            <h2>Seo настройки</h2><br>

            <input name="h1" type="text" class="form-control" placeholder="Поле h1" maxlength="100" minlength="5" autocomplete="off">

            <div align="left">
                <select class="js-example-basic-multiple form-control" data-placeholder="Выберите тэги" name="selectTagId" multiple="multiple" >
                    {{#each tags}}
                        <option value="{{this.tag}}">{{this.tag}}</option>
                    {{/each}}
                </select>
            </div><br>
            <textarea name="meta_description" class="form-control" maxlength="255" minlength="140" rows="4" placeholder="meta description"></textarea>

            <div class="input-group mb-3">
                <input type="file" name="postUrl" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Изображение статьи</label>
            </div><br>

            <br><input type="submit" class="btn btn-secondary" value="Отправить">
        </div>
    </form>

</div>
<main>
	<div class="centered">
		<div id="editor">
			<h2>The three greatest things you learn from traveling</h2>

			<p>Like all the great things on earth traveling teaches us by example. Here are some of the most precious lessons I’ve learned over the years of traveling.</p>

			<h3>Appreciation of diversity</h3>

			<p>Getting used to an entirely different culture can be challenging. While it’s also nice to learn about cultures online or from books, nothing comes close to experiencing <a href="https://en.wikipedia.org/wiki/Cultural_diversity">cultural diversity</a> in person. You learn to appreciate each and every single one of the differences while you become more culturally fluid.</p>

			<h3>Confidence</h3>

			<p>Going to a new place can be quite terrifying. While change and uncertainty makes us scared, traveling teaches us how ridiculous it is to be afraid of something before it happens. The moment you face your fear and see there was nothing to be afraid of, is the moment you discover bliss.</p>
		</div>
	</div>
</main>
