<div align='center'>
    <h1>Создание статьи</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    <form method="POST" action="/news/newPost" enctype="multipart/form-data">
        <div class="col-sm-6">
            
            <input name="title" type="text" class="form-control" placeholder="Название статьи" maxlength="100" minlength="5" autocomplete="off">

            <select class="form-select" name="selectCategoryId">
                {{#each categories}}
                    <option value="{{this.id}}">{{this.category}}</option>
                {{/each}}
            </select><br>
            
            <textarea type="text" name="tbxQuestion" class="ck-classic"></textarea><br>
            
            <form class="form-horizontal">
                <div class="form-group" style="text-align: left !important;">
                    <div class="input-group date form_datetime col-md-6" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input placeholder="Выберите дату и время публикации" class="form-control" name="timeout" size="16" type="text" value="" readonly style="background-color: #ffffff; margin-left:-15px">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
            </form>

            <h2>Seo настройки</h2><br>

            <input name="h1" type="text" class="form-control" placeholder="Заголовок h1" autocomplete="off">

            <div align="left">
                <select class="js-example-basic-multiple form-control" data-placeholder="Выберите тэги" name="selectTagId" multiple="multiple" >
                    {{#each tags}}
                        <option value="{{this.tag}}">{{this.tag}}</option>
                    {{/each}}
                </select>
            </div><br>
            <textarea name="meta_description" class="form-control" rows="4" placeholder="meta description"></textarea>

            <div class="input-group mb-3">
                <input type="file" name="postUrl" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Изображение статьи</label>
            </div><br>

            <br><input type="submit" id="create_news" class="btn btn-secondary" value="Отправить">
        </div>
    </form>
    
</div>