<div align='center'>
    <h1>Создание статьи</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    
    <form method="POST" action="/news/edit" enctype="multipart/form-data">
        <div class="col-sm-6">
            <input type="hidden" value="{{news.id}}" name="id">
            <input value="{{news.title}}" name="title" type="text" class="form-control" placeholder="Название статьи" maxlength="100" minlength="5" autocomplete="off">
            <textarea name="postText" class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Введите статью">{{news.post_text}}</textarea>
   
            <div class="input-group mb-3">
                <input type="file" name="postUrl" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Изображение статьи</label>
            </div><br>

            <select class="form-select" name="selectCategoryId">
                {{#each categories}}
                    <option value="{{this.id}}">{{this.category}}</option>
                {{/each}}
            </select><br><br><br><br>

            <input type="submit" class="btn btn-secondary" value="Отправить">

        </div>
    </form><br><br>
    <form action="/news/delete/{{news.id}}" method="post">
        <input type="submit" class="btn btn-danger" value="Удалить новость">
    </form>
</div>