<a class="btn btn-dark" href="/news/GetEditSettings/{{settings._key}}" style="float: left; margin-top:20px">Убрать выбор</a>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <form action="/news/settings/serch" method="POST">
                <input type="hidden" value="{{settings._key}}" name="key">
                <div class="form-group">
                    <br>
                    <select class="js-example-basic-multiple" multiple="multiple" name="SelectCategory" data-placeholder="Выберите категории показа" style="width: 500px;">
                        {{#each categoriesSelect}}
                            <option value="{{this.id}}">{{this.category}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-lg-6" style="display: flex;">
                    <input type="search" name="search" class="form-control" placeholder="Выберите новость" aria-label="Search" />
                </div>
                <button type="submit" class="btn btn-lg btn-default">
                    <i class="fa fa-search"></i>
                </button><BR>
                
            </form>

            <form method="POST" action="/news/editSettings">
                {{#if error}}
                    <font color='red'>{{error}}</font>
                {{/if}}<br>
                <h1>{{settings.label}}</h1>
                <input type="submit" class="btn btn-success" value="ЗАДАТЬ НАСТРОЙКУ" style="width: 475px; font-weight: 1000">
                <input type="hidden" value="{{settings.label}}" name="label">
                <input type="hidden" value="{{settings.id}}" name="id">
                <input type="hidden" value="{{settings._key}}" name="key">

                
                <div class="cat-news">
                    <div class="col-md-12">
                        <div class="row">
                            {{#each @root.news}}
                                {{#if_eq this.time @root.nowDate}}
                                    <div class="col-md-3" style=" margin-block-end: 15px;">
                                        <div class="cn-img">
                                            <img class="show-Posts" src="/{{this.postUrl}}" />
                                            <div class="cn-title">
                                                <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                                <input class="form-check-input" type="checkbox" value="{{this.id}}" name="checkNews">
                                            </div>
                                        </div>
                                    </div>
                                {{/if_eq}}
                            {{/each}}
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>