<div align='center'>
    <h1>Редактирование статьи</h1>
    {{#if error}}
        <font color='red'>{{error}}</font>
    {{/if}}
    
    <form method="POST" action="/news/edit" enctype="multipart/form-data">
        <div class="col-sm-6">
            <input type="hidden" value="{{news.id}}" name="id">
            <input value="{{news.title}}" name="title" type="text" class="form-control" placeholder="Название статьи" maxlength="100" minlength="5" autocomplete="off">
            
            <select class="form-select" name="selectCategoryId">
                {{#each categories}}
                    <option value="{{this.id}}">{{this.category}}</option>
                {{/each}}
            </select><br>
            <textarea id="editor" name="tbxQuestion">{{news.post_text}}</textarea><br>

            <br><h2>Seo настройки</h2>

            <input name="h1" type="text" value="{{news.h1}}" class="form-control" placeholder="Заголовок h1" autocomplete="off">

            <div align="left">
                <select class="js-example-basic-multiple form-control editNews-select" data-placeholder="Выберите тэги" name="selectTagId" multiple="multiple" >
                    {{#each tags}}
                        <option value="{{this.tag}}">{{this.tag}}</option>
                    {{/each}}
                    {{#each selectTags}}
                        <option value="{{this.tag}}" selected="selected">{{this.tag}}</option>
                    {{/each}}
                </select>
            </div><br>
            <textarea name="meta_description" class="form-control" rows="4" placeholder="meta description">{{news.meta_description}}</textarea>

            <div class="input-group mb-3">
                <input type="file" name="postUrl" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Изображение статьи</label>
            </div><br>

            <input type="submit" id="edit_news" class="btn btn-secondary" value="Редактировать">
        </div>
    </form><br><br>

    <form action="/news/delete/post/{{news.id}}" method="post">
        <input type="submit" class="btn btn-danger" value="Удалить новость">
    </form><br>
</div>