<div class="content">
    <div class="container">
        <div class="row">
            {{#each users}}
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto" style="height: 220px;">
                            {{#if this.avatarURL}}
                                <td><a href="/user/{{this.id}}"><img src="/{{this.avatarURL}}" class="rounded-circle img-thumbnail" width="150" ></a></td>
                            {{else}}
                                <td><a href="/user/{{this.id}}"><img src="/images/no_avatar.png" class="rounded-circle img-thumbnail" width="150"></a></td>
                            {{/if}}
                            </div>
                            <h4>{{this.name}}</h4>
                            {{#each @root.rules_users}}
                                {{#ifeq this.id ../this.id}}
                                    <p class="text-muted">{{this.rule}}</p>
                                {{else}}
                                    <p style="height: 24px;"></p>
                                {{/ifeq}}
                            {{/each}}
                            <a href="/user/{{this.id}}" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Details</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<br><br><br><br><br>