<div align='center'>
    <h1>Список пользователей</h1>

    <table border="1">
        <tr align="center">
            <th></th>
            <th></th>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <th>Email<a href="/sort/up/email"><button type="button" class="btn btn-outline-primary">&uArr;</button></a><a href="/sort/down/email"><button type="button" class="btn btn-outline-primary">&dArr;</button></a></th>
                <th>Name<a href="/sort/up/name"><button type="button" class="btn btn-outline-primary">&uArr;</button></a><a href="/sort/down/name"><button type="button" class="btn btn-outline-primary">&dArr;</button></a></th>
                <th>Age<a href="/sort/up/age"><button type="button" class="btn btn-outline-primary">&uArr;</button></a><a href="/sort/down/age"><button type="button" class="btn btn-outline-primary">&dArr;</button></a></th>
                <th>Id<a href="/sort/up/id"><button type="button" class="btn btn-outline-primary">&uArr;</button></a><a href="/sort/down/id"><button type="button" class="btn btn-outline-primary">&dArr;</button></a></th>
                <th>Время регистрации<a href="/sort/up/time"><button type="button" class="btn btn-outline-primary">&uArr;</button></a><a href="/sort/down/time"><button type="button" class="btn btn-outline-primary">&dArr;</button></a></th>
            </div>
        </tr>
        {{#each users}}
            <tr align="center"> 
                {{#if this.avatarURL}}
                    <td><img src="/{{this.avatarURL}}" width="60" ></td>
                {{else}}
                    <td><img src="/images/no_avatar.png" width="60"></td>
                {{/if}} 

                {{#ifeq this.id @root.userId}}
                    <td><a href="/user/{{this.id}}"><button type="button" class="btn btn-dark">Редактировать</button></a></td>   
                {{else}}
                    <td><a href="/user/{{this.id}}"><button type="button" class="btn btn-dark">Детальнее</button></a></td>
                {{/ifeq}}             
                
                <td>{{this.email}}</td>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.id}}</td>
                <td>{{this.time}}</td>
            </tr>
        {{/each}}
    </table>
</div>