<table class="table table-striped">
    <tr>
        <th width="70"></th>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <th width="200">Name</th>
        </div>
        <th width="250">Email</th>
        <th>Role</th>
    </tr>
    {{#each users}}
        <tr> 
            <div class="image">
                {{#if this.avatarURL}}
                    <td><a href="/user/{{this.id}}"><img src="/{{this.avatarURL}}" class="img-circle elevation-2" width="60" ></a></td>
                {{else}}
                    <td><a href="/user/{{this.id}}"><img src="/images/no_avatar.png" class="img-circle elevation-2" width="60"></a></td>
                {{/if}}
            </div>
            <td><h5>{{this.name}}</h5></td>
            <td><h5>{{this.email}}</h5></td>
            <td>
                {{#each @root.rules_users}}
                    {{#ifeq this.id ../this.id}}
                        <h5 style="float: left;">{{this.rule}}&nbsp;&nbsp;&nbsp;</h5>
                    {{/ifeq}}
                {{/each}}
            </td>
        </tr>
    {{/each}}
</table>