<a href="/rules"><button type="button" class="btn btn-secondary btn-lg">Просмотр связей</button></a>
<a href="/rules/role"><button type="button" class="btn btn-secondary btn-lg">Создание роли</button></a>
<a href="/rules/permission"><button type="button" class="btn btn-secondary btn-lg">Создание разрешения</button></a>
<br><br><br>
<table width="99%">
    <td align="center">
        {{#if error}}
            <p><font color='red'>{{error}}</font></p>
        {{/if}}
        <form action="/rules/newRole" method="POST">
            <label><b>Новая роль</b></label><br>
            <input name="rule" type="text" width="150"><br><br>
            <input type="submit" value="Добавить">
        </form>
    </td>
    <td align="center">
        <h3>Выдать</h3>
        <form action="/rules/give" method="POST">
            Пользователю
            <select name="selectNameId">
                {{#each users}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            роль

            <select name="selectRuleId">
                {{#each rules}}
                    <option value="{{this.id}}">{{this.rule}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Добавить">
        </form>
    </td>
    <td align="center">
        <table border="1">
            <caption>Список Ролей</caption>
            <tr align="center">
                <td></td>
                <td width='100'><h4>Роль</h4></td>
            </tr>
            {{#each rules}}
                <tr align="center">
                    <td>
                        <form action="/rules/deleteRule/{{this.id}}" method="POST">
                            <button type="button" class="btn btn-danger">Удалить роль</button>
                        </form>
                    </td>
                    <td><h4>{{this.rule}}</h4></td>
                </tr>
            {{/each}}
        </table>
    </td>
</table>