<div align='center'>
    <table width='99%'>
        <td align="center">
            <table border="1">
                <caption>Связь роли и разрешения</caption>
                <tr align="center">
                    <td width='50'></td>
                    <td width='100'><h4>Роль</h4></td>
                    <td width='100'><h4>Разрешение</h4></td>
                </tr>
                {{#each rules_permissions}}        
                    <tr align="center">
                        <td>
                            <form action="/rules/deleteFromRule/{{this.id}}" method="POST">
                                <input type="submit" class="btn btn-danger" value="Удалить связь">
                            </form>
                        </td>
                        <td><h4>{{this.rule}}</h4></td>
                        <td><h4>{{this.permission}}</h4></td>
                    </tr>
                {{/each}}
            </table>
        </td>
        <td align="center">
            <table border="1">
                <caption>Связь Роли и Имени</caption>
                <tr align="center">
                    <td width='50'></td>
                    <td width='100'><h4>Роль</h4></td>
                    <td width='100'><h4>Имя</h4></td>
                </tr>
                {{#each rules_users}}        
                    <tr align="center">
                        <td>
                            <form action="/rules/deleteFromUser" method="POST">
                                <input type="hidden" name="selectRuleId" value="{{this.rule}}">
                                <input type="hidden" name="selectNameId" value="{{this.id}}">
                                <input type="submit" class="btn btn-danger" value="Удалить связь">
                            </form>
                        </td>
                        <td><h4>{{this.rule}}</h4></td>
                        <td><h4>{{this.name}}</h4></td>
                    </tr>
                {{/each}}
            </table>
        </td>
        <td align="center">
            <table border="1">
                <caption>Разрешение Роль Имя</caption>
                <tr align="center">
                    <td width='50'><h4>Разрешение</h4></td>
                    <td width='100'><h4>Роль</h4></td>
                    <td width='100'><h4>Имя</h4></td>
                </tr>
                {{#each data}}        
                    <tr align="center">
                        <td><h4>{{this.permission}}</h4></td>
                        <td><h4>{{this.rule}}</h4></td>
                        <td><h4>{{this.name}}</h4></td>
                    </tr>
                {{/each}}
            </table>  
        </td>
    </table>
</div>

