
<div class="cat-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {{#each news}}
                        {{#if_eq this.time @root.nowDate}}
                            <div class="block_addition">
                                <div class="col-md-3">
                                    <div class="cn-img">
                                        <img class="show-Posts" src="/{{this.postUrl}}">
                                        <div class="cn-title">
                                            <a class="none-decloration" href="/news/get/{{this.id}}">{{this.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 show_search">
                                    {{#if this.meta_description}}
                                        {{this.meta_description}}
                                    {{else}}
                                    <div class="truncate">
                                        {{this.post_text}}
                                    </div>
                                        
                                    {{/if}}
                                </div>
                            </div>
                        {{/if_eq}}
                    {{/each}}
                    {{#ifeq news.length 0}}
                        <h3 class="align-center">
                            <br><br><br><br><br>
                            Увы, новостей по данному запросу не найдено
                        </h3>
                    {{/ifeq}}
                    <div id="showPosts"></div>
                    {{#if isMore}}
                        <button id="btn_more_search" onclick="AddMoreSearch(event)" class="btn btn-info btn-list-request">Загрузить еще</button>
                    {{/if}}
                </div>
                <input type="hidden" id="search_request" value="{{title}}">
            </div>
        </div>
    </div>
</div>
<script src="../../public/search.js"></script>