<div align='center'><h1>Главная страница персонажа <i><font color='red'>{{users.name}}</font></i></h1>

    {{#if users.avatarURL}}
        <div align="center">
        <img src="/{{users.avatarURL}}" width="255" alt="Нет изображения">
        </div>
    {{else}}
        <div align="center"><img src="/images/no_avatar.png" width="255"></div>
    {{/if}}

    <h2>Его возраст <i><font color='red'>{{users.age}}</font></i></h2>
    <br><br>

    <h2>Его email <i><font color='red'>{{users.email}}</font></i></h2>
    <br><br>

    
    {{#ifeq thisUserId userId}}
        <a href="/edit/{{users.id}}">
            <button><h3>Редактировать пользователя</h3></button>
        </a><br><br>
        <form action="/delete/{{users.id}}" method="POST">
            <input type="submit" value="Удалить пользователя">
        </form>
    {{else}}

        {{#each permissionsList}}
            {{#ifeq this 'EDIT'}}
                <a href="/edit/{{@root.users.id}}">
                    <button><h3>Редактировать пользователя</h3></button>
                </a><br><br>
            {{/ifeq}}

            {{#ifeq this 'DELETE'}}
                <form action="/delete/{{@root.users.id}}" method="POST">
                    <input type="submit" value="Удалить пользователя">
                </form>
            {{/ifeq}}

        {{/each}}
            
    {{/ifeq}}    
    
</div>