{{text}}
<!-- Top News Start-->
<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    {{#each LeftNews}}
                        {{#ifeq @root.LeftNews.length 1}}
                            <div class="col-md-12">
                                <div class="tn-img">
                                    <img width="450" height="380" style="object-fit: cover;" src="/{{this.postUrl}}" />
                                    <div class="tn-title">
                                        <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img width="450" height="380" style="object-fit: cover;" src="/{{this.postUrl}}" />
                                    <div class="tn-title">
                                        <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                    </div>
                                </div>
                            </div>
                        {{/ifeq}}
                    {{/each}}
                </div>
            </div>
            
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    {{#each RightNews}}
                        {{#ifeq @root.RightNews.length 1}}
                            <div class="col-md-12">
                                <div class="tn-img">
                                    <img width="450" height="380" style="object-fit: cover;" src="/{{this.postUrl}}" />
                                    <div class="tn-title">
                                        <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <div class="col-md-6">
                                <div class="tn-img">
                                    <img width="450" height="380" style="object-fit: cover;" src="/{{this.postUrl}}" />
                                    <div class="tn-title">
                                        <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                    </div>
                                </div>
                            </div>
                        {{/ifeq}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
    <div class="container">
        <div class="row">
            {{#each categories}}
                <div class="col-md-12">
                    <div align="center">
                        <br><br><br><br>
                        <h2>{{this.category}}</h2>
                    </div>
                    <div class="row">
                        {{#each @root.news}}
                            {{#ifeq this.categoryId ../this.id}}
                                <div class="col-md-3">
                                    <div class="cn-img">
                                        <img class="show-Posts" src="/{{this.postUrl}}">
                                        <div class="cn-title">
                                            <a style="text-decoration: none;" href="/news/get/{{this.id}}">{{this.title}}</a>
                                        </div>
                                    </div>
                                </div>
                            {{/ifeq}}
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div><BR><BR>
<!-- Category News End-->

