
<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="single-img">
                        <img class="single-img"  src="/{{news.postUrl}}">
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title" style="word-wrap: break-word;">
                            {{news.title}}
                            {{#each permissionsList}}
                                {{#ifeq this 'GIVE'}}
                                    <a style="text-decoration: none;" href="/news/edit/{{@root.news.id}}">
                                        <button type="button" class="btn btn-dark">&#9998;</button>
                                    </a>
                                {{/ifeq}}
                            {{/each}}
                        </h1>
                        <pre>{{news.post_text}}</pre>
                        <div class="block_addition">
                            {{#if isAuth}}
                            
                                <form name="registerForm{{news.id}}">
                                    <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                    <input type="hidden" name="newsId" value="{{news.id}}">
                                    {{#if isLike}}
                                        <button id="submitLike{{news.id}}" onclick="likePost({{news.id}}, event)" class="btn btn-success" type="submit">Нравится&nbsp;&nbsp; {{news.likes}}</button>
                                    {{else}}
                                        <button id="submitLike{{news.id}}" onclick="likePost({{news.id}}, event)" class="btn btn-danger" type="submit">Нравится&nbsp;&nbsp; {{news.likes}}</button>
                                    {{/if}}
                                </form>
                                <form name="Watch{{news.id}}" style="margin-left: 500px;">
                                    <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                    <input type="hidden" name="newsId" value="{{news.id}}">
                                    {{#if isSave}}
                                        <button id="WatchLater{{news.id}}" onclick="WatchLater({{news.id}}, event)" class="btn btn-warning" type="submit">Убрать из избранного</button>
                                    {{else}}
                                        <button id="WatchLater{{news.id}}" onclick="WatchLater({{news.id}}, event)" class="btn btn-info" type="submit">Добавить в избранное</button>
                                    {{/if}}
                                </form>
                            {{else}}
                                <h4><font color="green">{{news.likes}} "Нравится"</font></h4>
                            {{/if}}
                        </div><br>
                        <input type="hidden" id="views" value="{{views}}">
                        <h4 id="waypoint" class="timer"><font color="gray">{{views}} "Просмотров"</font></h4>
                        <input type="hidden" id="newsId" value="{{news.id}}">
                        <input type="hidden" id="categoryId" value="{{news.categoryId}}">
                        <br>
                    </div>
                    <div class="coment-bottom bg-white p-2 px-4 comment_list">
                        <details>
                            <summary><h3>Комментарии</h3></summary>
                            <div class="content">
                                {{#if isAuth}}
                                    <font color='red' id="error{{news.id}}"></font>
                                    <form name="NewComment{{news.id}}">
                                        <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                        <input type="hidden" name="newsId" value="{{news.id}}">
                                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                                            {{#if ThisUser.avatarURL}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="/{{ThisUser.avatarURL}}" style="width: 50px; height: 50px;">
                                            {{else}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="../../images/no_avatar.png" style="width: 50px; height: 50px;">
                                            {{/if}}
                                            <textarea id="texrow{{news.id}}" name="comments" type="text" class="form-control mr-3" placeholder="Добавить комментарий" rows="4" maxlength="1000" minlength="1"></textarea>   
                                            <button id="comment{{news.id}}" onclick="addComment({{news.id}}, event)" class="btn btn-primary" type="submit" style="width: auto; height: 50px;">
                                                Комментировать
                                            </button>
                                        </div>
                                    </form>
                                {{/if}}
                                <form name="AddComment{{news.id}}">
                                    <div id="ListComments{{news.id}}"></div>
                                </form>
                                <div id="ShowComments" value="{{news.id}}"></div>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
            <div id="in_this_category" ></div>
            <div id="ListNews" value="{{categories}}"></div>
        </div>
    </div>
</div>

<script src="../../public/ShowNews.js"></script>
<script src="../../public/ShowComments.js"> </script>
{{#if isAuth}}
    <script src="../../public/timer.js"></script>
    <script src="../../public/likePost.js"> </script>
    <script src="../../public/watchLater.js"></script>
    <script src="../../public/createComment.js"></script>
    <script src="../../public/deleteComment.js"></script>
    <script src="../../public/editComment.js"> </script>
{{/if}}
