
<!-- Single News Start-->
<div class="single-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="sn-container">
                    <div class="single-img">
                        <img class="single-img"  src="/{{news.postUrl}}">
                    </div>
                    <div class="sn-content">
                        <h1 class="sn-title">
                            {{news.title}}
                            {{#each permissionsList}}
                                {{#ifeq this 'GIVE'}}
                                    <a style="text-decoration: none;" href="/news/edit/{{@root.news.id}}">
                                        <button type="button" class="btn btn-dark">&#9998;</button>
                                    </a>
                                {{/ifeq}}
                            {{/each}}
                            
                        </h1>
                        <pre>{{news.post_text}}</pre>
                        <div class="block_addition">
                            {{#if isAuth}}
                                <form name="registerForm">
                                    <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                    <input type="hidden" name="newsId" value="{{news.id}}">
                                    {{#if isLike}}
                                        <button id="submitLike" class="btn btn-success" type="submit">Нравится&nbsp;&nbsp; {{news.likes}}</button>
                                    {{else}}
                                        <button id="submitLike" class="btn btn-danger" type="submit">Нравится&nbsp;&nbsp; {{news.likes}}</button>
                                    {{/if}}
                                </form>

                                <script>
                                    document.getElementById("submitLike").addEventListener("click", function (e) {
                                        e.preventDefault();
                                        let registerForm = document.forms["registerForm"];
                                        let userId = registerForm.elements["userId"].value;
                                        let newsId = registerForm.elements["newsId"].value;

                                        let like = JSON.stringify({userId: userId, newsId: newsId});

                                        let request = new XMLHttpRequest();

                                        request.open("POST", "/news/like", true);   

                                        request.setRequestHeader("Content-Type", "application/json");

                                        request.addEventListener("load", function () {

                                            let receivedUser = JSON.parse(request.response);

                                            let a = document.getElementById('submitLike')
                                            if(receivedUser.isLike){
                                                a.innerHTML = `Нравится&nbsp;&nbsp; ${receivedUser.likes}`
                                                a.classList.remove('btn-danger')
                                                a.classList.add('btn-success')
                                            }
                                            else{
                                                a.innerHTML = `Нравится&nbsp;&nbsp; ${receivedUser.likes}`
                                                a.classList.remove('btn-success')
                                                a.classList.add('btn-danger')
                                            }
                                               
                                        });
                                        request.send(like);
                                    });
                                </script>

                                <form action="/news/watchLater" method="POST" style="margin-left: 500px;">
                                    <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                    <input type="hidden" name="newsId" value="{{news.id}}">
                                    {{#if isSave}}
                                        <button class="btn btn-warning" type="submit">Убрать из избранного</button>
                                    {{else}}
                                        <button class="btn btn-info" type="submit">Добавить в избранное</button>
                                    {{/if}}
                                </form>
                            {{else}}
                                <h4><font color="red">{{news.likes}} "Нравиться"</font></h4>
                            {{/if}}
                        </div>
                        <br>
                    </div>
                    
                        <div class="coment-bottom bg-white p-2 px-4">
                            {{#if isAuth}}
                                {{#if error}}
                                    <font color='red'>{{error}}</font>
                                {{/if}}
                                {{#if EditComment}}
                                    <form action="/news/EditComment/{{EditComment.id}}" method="POST">
                                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                                            {{#if ThisUser.avatarURL}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="/{{ThisUser.avatarURL}}" style="width: 50px; height: 50px;">
                                            {{else}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="../../images/no_avatar.png" style="width: 50px; height: 50px;">
                                            {{/if}}
                                            <textarea name="comment" type="text" class="form-control mr-3" placeholder="Редактировать комментарий" rows="4" minlength="1" maxlength="1000">{{EditComment.comment}}</textarea>   
                                            <button class="btn btn-primary" type="submit" style="width: auto; height: 50px;">
                                                Редактировать
                                            </button>
                                        </div>
                                    </form>
                                {{else}}
                                    <form action="/news/newComment" method="POST">
                                        <input type="hidden" name="userId" value="{{ThisUser.id}}">
                                        <input type="hidden" name="newsId" value="{{news.id}}">
                                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                                            {{#if ThisUser.avatarURL}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="/{{ThisUser.avatarURL}}" style="width: 50px; height: 50px;">
                                            {{else}}
                                                <img class="img-fluid img-responsive rounded-circle mr-2" src="../../images/no_avatar.png" style="width: 50px; height: 50px;">
                                            {{/if}}
                                            <textarea name="comment" type="text" class="form-control mr-3" placeholder="Добавить комментарий" rows="4" maxlength="1000" minlength="1"></textarea>   
                                            <button class="btn btn-primary" type="submit" style="width: auto; height: 50px;">
                                                Комментировать
                                            </button>
                                        </div>
                                    </form>
                                {{/if}}
                            {{/if}}
                            
                            {{#each comments}}
                                <div class="commented-section mt-2">
                                    <div class="bg-white p-2">
                                        {{#each @root.users}}
                                            {{#ifeq this.id ../this.userId}}
                                                <div class="d-flex flex-row user-info">
                                                    {{#if this.avatarURL}}
                                                        <img class="rounded-circle" src="/{{this.avatarURL}}" width="40">
                                                    {{else}}
                                                        <img class="rounded-circle" src="../../images/no_avatar.png" width="40">
                                                    {{/if}}
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block font-weight-bold name">{{this.name}}</span>
                                                        <span class="date text-black-50">{{../this.date}}</span>
                                                    </div>
                                                    {{#ifeq @root.ThisUser.id ../this.userId}}
                                                        <form action="/news/EditComment" method="POST">
                                                            <input type="hidden" name="id" value="{{../this.id}}">
                                                            <input type="hidden" name="comment" value="{{../this.comment}}">
                                                            <button style="margin-left:400px; margin-right: 20px;" type="submit" class="btn btn-dark">Редактировать</button>
                                                        </form>
                                                        <form action="/news/deleteComment" method="POST">
                                                            <input type="hidden" name="id" value="{{../this.id}}">
                                                            <button type="submit" class="btn btn-danger">Удалить</button>
                                                        </form>
                                                    {{else}}
                                                        {{#each @root.permissionsList}}
                                                            {{#ifeq this 'GIVE'}}
                                                            <form action="/news/deleteComment" method="POST">
                                                                <input type="hidden" name="id" value="{{../../this.id}}">
                                                                <button style="margin-left:562px;" type="submit" class="btn btn-danger">Удалить</button>
                                                            </form>
                                                            {{/ifeq}}
                                                        {{/each}}
                                                    {{/ifeq}}
                                                </div>
                                            {{/ifeq}}
                                        {{/each}}
                                        <div class="mt-2">
                                            <p class="comment-text">{{this.comment}}</p>
                                        </div>
                                    </div>
                                </div><hr>
                            {{/each}}  
                        </div>
                    
                </div>
            </div>

            
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h2 class="sw-title">В этой категории</h2>
                        <div class="news-list">
                            {{#each dataNews}}
                                {{#ifeq this.categoryId @root.categories}}
                                    <div class="nl-item">
                                        <div class="nl-img">
                                            <img width="100" height="64" style="object-fit: cover;" src="/{{this.postUrl}}" />
                                        </div>
                                        <div class="nl-title">
                                            <a style="text-decoration: none;"                        href="/news/get/{{this.id}}">{{this.title}}</a>
                                        </div>
                                    </div>
                                {{/ifeq}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single News End-->        